<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div id="body">
    <div class="view-login" >
      <div class="login-wrap">
        <div class="control-group">
          <input type="text" id="login_account" autocomplete="off" placeholder="请输入登录账号">
          <input type="password" id="login_password" placeholder="请输入登录密码">
        </div>
        <div class="control-btn">
          <a href="javascript:void(0);" class="btn-common" id="btn_login">登录</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
