<!DOCTYPE html>
<html>
<head>
    {{>header}}
</head>
<body>
    {{>view_header}}
    <div id="body">
        <h1>webstone</h1>
    </div>
    {{>view_footer}}
</body>
{{>footer}}
<script type="text/javascript">
  /* 页面的js */
</script>
</html>
