{{!-- 公用header --}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Node.js CMS and web app framework" />
<meta name="keywords" content="node.js,CMS,keystone,webstone"/>
<title>{{data.title}}</title>
<link rel="shortcut icon" href="{{baseUrl "/images/favicon.ico"}}" type="image/x-icon">
<link href="{{baseUrl "/styles/reset.css"}}" rel="stylesheet">
<link href="{{baseUrl "/styles/bootstrap/bootstrap.min.css"}}" rel="stylesheet">
<!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
    <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
<![endif]-->
